# Python
__pycache__/
*.pyc
*.pyo

# Entorns virtuals
.venv/
venv/

# Fitxers temporals
*.log
tmp/
*.tmp

#Partits i equips guardats personalment
matches/
teams/

# Matplotlib / imatges generades
*.png

# VS Code
.vscode/

# Sistemes
.DS_Store
Thumbs.db

# Contrasenyes
password.py