body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, rgb(235, 141, 18), rgb(30, 56, 65));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

h1 {
  text-align: center;
  color: white;
}

form {
  background: white;
  padding: 10px;
  max-width: 100%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 6px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  margin-bottom: 10px;
}

input, select, button {
  width: 50%;
  padding: 6px;
  margin-top: 8px;
}

button {
  background: #33a538;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #1b5e20;
}

#result {
  text-align: center;
  margin-top: 20px;
}

#shotmap-img {
  max-width: 400px;
  border: 2px solid #929292;
  border-radius: 6px;
}

/* -----------------------------
   PROGRESS BAR CONTAINER
------------------------------ */
#progress-container {
  width: 50%;
  background: #ddd;
  border-radius: 6px;
  overflow: hidden;
  margin-top: 10px;
  transition: opacity 0.3s ease, height 0.3s ease;
}

/* -----------------------------
   PROGRESS BAR FILL
------------------------------ */
#progress-bar {
  height: 20px;
  background: linear-gradient(90deg, #4caf50, #66bb6a);
  color: white;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  transition: width 0.3s ease;
}

.inactive {
  opacity: 0;
  height: 0;
  pointer-events: none;
}
